/* 版心：1090px */

.container {
    width: 1090px;
    margin: 0 auto;
}


/* 网页头部 */

#header {
    background: #ffffff;
    border-bottom: #e4e4e4 solid 1px;
}


/*  顶部  */

#header .top {
    background: #333333;
    height: 36px;
}

.topC div:nth-child(1) span {
    float: left;
    width: 14px;
    height: 14px;
    background: url('https://yanxuan.nosdn.127.net/d132c2561f18f1149d566a60d05fd9b7.gif') no-repeat;
    color: #b4a078;
    margin-top: 11px;
    margin-right: 10px;
}

.topC div:nth-child(1) a {
    color: #cc9756;
    line-height: 36px;
    text-decoration: underline;
}

.topC>div:nth-child(1) {
    float: left;
}

.topC>div:nth-child(1):hover {
    cursor: pointer;
}

.topC>div:nth-child(1):hover a {
    color: #ffffff;
    text-decoration: none;
}

.topC>div:nth-child(2) {
    float: right;
}

.topC>div:nth-child(2)>ul>li {
    float: left;
    position: relative;
}

.topC>div:nth-child(2)>ul>li::after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 12px;
    background: #999999;
    position: absolute;
    right: 0;
    top: 13px;
}

.topC>div:nth-child(2)>ul>li.nobg>a>i {
    display: inline-block;
    width: 7px;
    height: 10px;
    background: url('https://yanxuan-static.nosdn.127.net/hxm/yanxuan-component/p/20170601/style/img/x1/icon-yxtop-s2904006215-b2811ec0e9.png') no-repeat center;
    background-position: 0 0;
    margin-right: 5px;
}

.topC>div:nth-child(2)>ul>li.nobg::after {
    width: 0;
}

.topC>div:nth-child(2)>ul>li>a {
    color: #cccccc;
    line-height: 36px;
    margin: 0 10px;
}

.topC>div:nth-child(2) li:hover {
    cursor: pointer;
}

.topC>div:nth-child(2) li a:hover {
    color: #ffffff;
}


/* 头部 */

.head {
    height: 108px;
}


/* logo */

.logo {
    float: left;
}

.logo a {
    display: block;
    width: 212px;
    height: 51px;
    background: url('https://yanxuan-static.nosdn.127.net/hxm/yanxuan-component/p/20170601/style/img/x1/icon-yxtop-s2904006215-b2811ec0e9.png');
    background-position: 0 -303px;
    margin-top: 30px;
    text-indent: -9999px;
}


/* 搜索框 */

.search {
    float: left;
    width: 532px;
    padding-top: 26px;
    margin-left: 164px;
}

.search div:nth-child(1) {
    position: relative;
}

.search div:nth-child(1) i {
    display: block;
    position: absolute;
    width: 14px;
    height: 14px;
    background: url('https://yanxuan-static.nosdn.127.net/hxm/yanxuan-component/p/20170601/style/img/x1/icon-yxtop-s2904006215-b2811ec0e9.png') no-repeat;
    background-position: 0 -518px;
    left: 15px;
    top: 12px;
}

.search #txt {
    width: 400px;
    height: 36px;
    border: #cc9756 solid 1px;
    border-radius: 16px 0 0 16px;
    border-right: 0;
    padding-left: 38px;
    font-size: 14px;
    color: #999999;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: text;
}

.search div {
    float: left;
}

.search #btn {
    width: 89px;
    height: 38px;
    background: #cc9756;
    color: #ffffff;
    border: #cc9756 solid 1px;
    border-radius: 0 16px 16px 0;
    font-size: 14px;
}

.search p a {
    line-height: 28px;
    margin-left: 20px;
    color: #999999;
}


/* 购物车 */

.cart {
    float: right;
    width: 134px;
    height: 20px;
    border: 1px solid #cc9756;
    border-radius: 19px;
    padding: 8px 0;
    cursor: pointer;
    text-align: center;
    color: #cc9756;
    margin-top: 26px;
    font-weight: bold;
    font-size: 14px;
    position: relative;
}

.cart i {
    display: block;
    width: 19px;
    height: 22px;
    background: url('https://yanxuan-static.nosdn.127.net/hxm/yanxuan-component/p/20170601/style/img/x1/icon-yxtop-s2904006215-b2811ec0e9.png') no-repeat;
    background-position: -1px -205px;
    position: absolute;
    left: 15px;
    top: 5px;
}

.cart span:nth-child(3) {
    position: absolute;
    width: 19px;
    height: 19px;
    background: #d4262c;
    right: 14px;
    top: 8px;
    border-radius: 50%;
}


/* 导航栏 */

.nav ul {
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav ul li {
    float: left;
    flex: 1;
}

.nav ul li a {
    color: #000000;
    line-height: 30px;
    display: inline-block;
    height: 30px;
    font-size: 12px;
}

.nav ul li:nth-child(1) a {
    color: #cc9756;
    border-bottom: 1px solid #cc9756;
}

.nav ul li a:hover {
    color: #cc9756;
    border-bottom: 1px solid #cc9756;
}

.libd {
    position: relative;
}

.libd::after {
    display: inline-block;
    width: 1px;
    height: 14px;
    background: #999999;
    content: '';
    position: absolute;
    right: 30px;
    top: 8px;
}


/* 网页底部 */

#bottom {
    border-top: #e8e8e8 solid 1px;
}


/* 联系反馈 */

.contact {
    height: 298px;
    background: #ffffff;
}

.contactC {
    padding: 60px 0 34px;
}

.contactC>div {
    width: 362px;
    height: 204px;
    float: left;
    border-right: 1px solid #e9e9e9;
}

.contactC>div:nth-child(3) {
    border-right: 0;
}

.contactC>div>h3 {
    text-align: center;
    color: #333333;
    font-size: 16px;
}

.contactC .c_left div {
    height: 102px;
    width: 228px;
    margin: 0 auto;
}

.contactC .c_left div a {
    display: inline-block;
    height: 100px;
    width: 80px;
    border: 1px solid #e8e8e8;
    text-align: center;
    margin: 15px 15px;
    font-size: 12px;
    color: #000000;
}

.contactC .c_left div a:nth-child(1) i {
    font-size: 30px;
    display: block;
    width: 30px;
    height: 26px;
    background: url('https://yanxuan-static.nosdn.127.net/hxm/yanxuan-component/p/20170601/style/img/x1/icon-yxfoot-sb38e8b0402-214e6650b9.png') no-repeat;
    background-position: 0 -290px;
    margin: 30px auto 15px;
}

.contactC .c_left div a:nth-child(2) i {
    font-size: 30px;
    display: block;
    width: 30px;
    height: 26px;
    background: url('https://yanxuan-static.nosdn.127.net/hxm/yanxuan-component/p/20170601/style/img/x1/icon-yxfoot-sb38e8b0402-214e6650b9.png') no-repeat;
    background-position: 0 -98px;
    margin: 30px auto 15px;
}

.contactC .c_left div a:hover {
    color: #cc9756;
}

.contactC .c_left div a:nth-child(1):hover i {
    background-position: 0 -254px;
}

.contactC .c_left div a:nth-child(2):hover i {
    background-position: 0 -61px;
}

.contactC .c_middle p {
    width: 288.36px;
    height: 69px;
    margin: 15px auto 22px;
    font-size: 13px;
    line-height: 23px;
    color: #333333;
}

.contactC .c_middle div {
    width: 288.36px;
    height: 32px;
    margin: 0 auto;
    padding: 0 37px;
    vertical-align: middle;
}

.contactC .c_middle div span {
    display: inline-block;
    width: 64px;
    height: 32px;
    margin-right: 15px;
    line-height: 32px;
    font-size: 12px;
}

.contactC .c_middle div i {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url('https://yanxuan-static.nosdn.127.net/hxm/yanxuan-component/p/20170601/style/img/x1/icon-yxfoot-sb38e8b0402-214e6650b9.png') no-repeat;
    background-position: 0 -470px;
    vertical-align: middle;
    margin-right: 15px;
}

.contactC .c_middle div b {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url('https://yanxuan-static.nosdn.127.net/hxm/yanxuan-component/p/20170601/style/img/x1/icon-yxfoot-sb38e8b0402-214e6650b9.png') no-repeat;
    background-position: 0 -428px;
    vertical-align: middle;
    margin-right: 15px;
}

.contactC .c_middle div em {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url('https://yanxuan-static.nosdn.127.net/hxm/yanxuan-component/p/20170601/style/img/x1/icon-yxfoot-sb38e8b0402-214e6650b9.png') no-repeat;
    background-position: 0 -326px;
    vertical-align: middle;
    margin-right: 15px;
}

.contactC .c_right {
    text-align: center;
}

.contactC .c_right div {
    margin-top: 15px;
}

.contactC .c_right p {
    line-height: 18px;
    height: 18px;
    margin-top: 3px;
    color: #b4a078;
    font-size: 12px;
}


/* 版权信息 */

.copyright {
    height: 268px;
    background: #414141;
}

.copyright .cp {
    padding-top: 37px;
    text-align: center;
}

.copyright .cp>ul {
    margin-bottom: 30px!important;
    padding-left: 17px;
    display: flex;
    justify-content: space-between;
}

.copyright .cp>ul li {
    flex: 1;
    float: left;
    color: #ffffff;
    height: 51px;
    text-align: center;
}

.copyright .cp>ul li h4 {
    display: inline-block;
    height: 51px;
    font-size: 18px;
    line-height: 51px;
    vertical-align: middle;
}

.copyright .cp>ul li span {
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
}

.copyright .cp>ul li i {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url('https://yanxuan-static.nosdn.127.net/hxm/yanxuan-component/p/20170601/style/img/x1/icon-yxfoot-sb38e8b0402-214e6650b9.png') no-repeat;
    background-position: 0 -134px;
    margin-right: 17px;
    vertical-align: middle;
}

.copyright .cp>ul li b {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url('https://yanxuan-static.nosdn.127.net/hxm/yanxuan-component/p/20170601/style/img/x1/icon-yxfoot-sb38e8b0402-214e6650b9.png') no-repeat;
    background-position: 0 -368px;
    margin-right: 17px;
    vertical-align: middle;
}

.copyright .cp>ul li em {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url('https://yanxuan-static.nosdn.127.net/hxm/yanxuan-component/p/20170601/style/img/x1/icon-yxfoot-sb38e8b0402-214e6650b9.png') no-repeat;
    background-position: 0 0;
    margin-right: 17px;
    vertical-align: middle;
}

.copyright .cp>ul li strong {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url('https://yanxuan-static.nosdn.127.net/hxm/yanxuan-component/p/20170601/style/img/x1/icon-yxfoot-sb38e8b0402-214e6650b9.png') no-repeat;
    background-position: 0 -194px;
    margin-right: 17px;
    vertical-align: middle;
}

.copyright .cp>div {
    padding-top: 28px;
    border-top: 1px solid #4f4f4f;
}

.copyright .cp>div>div>a {
    font-size: 12px;
    color: #999999;
}

.copyright .cp>div>div>a:hover {
    color: #ffffff;
}

.copyright .cp>div>div>u {
    color: #999999;
    margin: 0 13px;
    text-decoration: none;
}

.copyright .cp>div>p {
    height: 18px;
    margin: 11px 0;
}

.copyright .cp>div>p>a {
    color: #999999;
    margin-right: 5px;
}

.copyright .cp>div>p>img {
    width: 23px;
    height: 25px;
    margin-top: -5px;
    border: 0;
    vertical-align: top;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
}

.copyright .cp>div>p>a:hover {
    color: #ffffff;
}

.copyright .cp>div>p>a.nohover:hover {
    color: #999999;
}