/* banner图 */

#banner {
    height: 420px;
    background: #eaeaea;
    overflow: hidden;
}

#banner>div>a {
    display: block;
    width: 100%;
    height: 420px;
    background: url('https://yanxuan.nosdn.127.net/0fae504f6958db87ee919c38bac02c9b.png') no-repeat center;
}


/* 主体内容 */


/* 内容1 */

#main .content1 {
    height: 540px;
    background: #ffffff;
}

#main .content1 .c1 {
    width: 1090px;
    height: 510px;
    margin: 30px auto 0;
}

#main .content1 .c1>div:nth-child(1) {
    height: 28px;
    margin-bottom: 20px;
}

#main .content1 .c1>div:nth-child(1)>div:nth-child(1) {
    float: left;
    width: 244px;
    height: 28px;
}

#main .content1 .c1>div:nth-child(1)>div:nth-child(1) h3 {
    float: left;
    margin-right: 20px;
    font-size: 28px;
    font-weight: bold;
    line-height: 1;
    box-sizing: border-box;
    color: #333333;
}

#main .content1 .c1>div:nth-child(1)>div:nth-child(1) h3:hover {
    color: #cc9756;
}

#main .content1 .c1>div:nth-child(1)>div:nth-child(1) span {
    padding-top: 13px;
    display: inline-block;
    line-height: 1;
    box-sizing: border-box;
    font-size: 14px;
    color: #333333;
}

#main .content1 .c1>div:nth-child(1)>div:nth-child(2) {
    float: right;
    width: 100.53px;
    height: 28px;
}

#main .content1 .c1>div:nth-child(1)>div:nth-child(2) a {
    display: inline-block;
    line-height: 1;
    margin-left: 30px;
    padding-top: 14px;
    cursor: pointer;
    font-size: 14px;
    color: #333333;
}

#main .content1 .c1>div:nth-child(1)>div:nth-child(2) a:hover {
    color: #cc9756;
}

#main .content1 .c1>div:nth-child(2) {
    height: 364px;
    overflow: hidden;
}

#main .content1 .c1>div:nth-child(2) ul>.box {
    width: 265px;
    height: 364px;
    float: left;
    text-align: center;
    margin-right: 10px;
}

#main .content1 .c1>div:nth-child(2) ul>.box:nth-child(4) {
    margin-right: 0;
}

#main .content1 .c1>div:nth-child(2) ul>.box>div:nth-child(1) {
    width: 265px;
    height: 265px;
    background: #f4f4f4;
    overflow: hidden;
    position: relative;
}

#main .content1 .c1>div:nth-child(2) ul>.box>div:nth-child(1)>img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

#main .content1 .c1>div:nth-child(2) ul>.box>div:nth-child(1)>img:nth-child(2) {
    display: none;
}

#main .content1 .c1>div:nth-child(2) ul>.box:hover div:nth-child(1)>img:nth-child(2) {
    display: block;
}

#main .content1 .c1>div:nth-child(2) ul>.box:hover {
    background: #f4f4f4;
}

#main .content1 .c1>div:nth-child(2) ul>.box>div:nth-child(2) {
    height: 91px;
    width: 265px;
    text-align: center;
}

#main .content1 .c1>div:nth-child(2) ul>.box>div:nth-child(2)>p {
    width: 166px;
    margin: 0 auto 4px;
    max-height: 40px;
    line-height: 20px;
    overflow: hidden;
    box-sizing: border-box;
    color: #000000;
    font-weight: bold;
    margin-top: 20px;
    font-size: 13px;
}

#main .content1 .c1>div:nth-child(2) ul>.box>div:nth-child(2)>span {
    color: #d4282d;
    font-size: 13px;
    text-align: center;
}


/* 内容2 */

#main .content2 {
    padding: 60px 0;
    background: #f4f0ea;
}

#main .content2 .c2 {
    width: 1090px;
    height: 618px;
    margin: 0 auto;
}

#main .content2 .c2>div:nth-child(1) {
    height: 28px;
    margin-bottom: 20px;
}

#main .content2 .c2>div:nth-child(1)>div:nth-child(1) {
    float: left;
    width: 395px;
    height: 28px;
}

#main .content2 .c2>div:nth-child(1)>div:nth-child(1) h3 {
    float: left;
    margin-right: 20px;
    font-size: 28px;
    font-weight: bold;
    line-height: 1;
    box-sizing: border-box;
    color: #333333;
}

#main .content2 .c2>div:nth-child(1)>div:nth-child(1) h3:hover {
    color: #cc9756;
}

#main .content2 .c2>div:nth-child(1)>div:nth-child(1) span {
    display: inline-block;
    line-height: 28px;
    box-sizing: border-box;
    font-size: 14px;
    color: #333333;
    margin: 0 15px 0 20px;
}

#main .content2 .c2>div:nth-child(1)>div:nth-child(1) span:nth-of-type(1) {
    border-bottom: 2px solid #cc9756;
    color: #cc9756;
}

#main .content2 .c2>div:nth-child(1)>div:nth-child(1) span:hover {
    color: #cc9756;
}

#main .content2 .c2>div:nth-child(1)>div:nth-child(2) {
    float: right;
    width: 100.53px;
    height: 28px;
}

#main .content2 .c2>div:nth-child(1)>div:nth-child(2) a {
    display: inline-block;
    line-height: 1;
    margin-left: 30px;
    padding-top: 14px;
    cursor: pointer;
    font-size: 14px;
    color: #333333;
}

#main .content2 .c2>div:nth-child(1)>div:nth-child(2) a:hover {
    color: #cc9756;
}

#main .content2 .c2>div:nth-child(2) .big {
    float: left;
    width: 390px;
    height: 570px;
    background: #ffffff;
}

#main .content2 .c2>div:nth-child(2) .big>div:nth-child(1) {
    width: 390px;
    height: 400px;
    text-align: center;
    margin-bottom: 18px;
    padding-top: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid #F4F0EA;
}

#main .content2 .c2>div:nth-child(2) .big>div:nth-child(1)>div {
    width: 320px;
    height: 320px;
    margin: 0 auto;
}

#main .content2 .c2>div:nth-child(2) .big>div:nth-child(1)>div>img {
    width: 100%;
    height: 100%;
}

#main .content2 .c2>div:nth-child(2) .big>div:nth-child(2) {
    height: 123px;
}

#main .content2 .c2>div:nth-child(2) .big>div:nth-child(2)>a {
    font-size: 18px;
    line-height: 26px;
    color: #333333;
    font-weight: bold;
    display: block;
    text-align: center;
    width: 240px;
    margin: 50px auto 10px;
    box-sizing: border-box;
}

#main .content2 .c2>div:nth-child(2) .big>div:nth-child(2)>a:hover {
    color: #cc9756;
}

#main .content2 .c2>div:nth-child(2) .big>div:nth-child(2)>p {
    font-size: 18px;
    height: 28px;
    line-height: 28px;
    color: #d4282d;
    text-align: center;
}

#main .content2 .c2>div:nth-child(2) dl>div {
    float: left;
    width: 223px;
    height: 280px;
    background: #ffffff;
    margin: 0 5px 10px;
}

#main .content2 .c2>div:nth-child(2) dl>div>dt {
    width: 223px;
    height: 180px;
    box-sizing: border-box;
    border-bottom: 1px solid #F4F0EA;
}

#main .content2 .c2>div:nth-child(2) dl>div>dt>div {
    width: 180px;
    height: 180px;
    margin: 0 auto;
}

#main .content2 .c2>div:nth-child(2) dl>div>dt>img {
    width: 100%;
    height: 100%;
}

#main .content2 .c2>div:nth-child(2) dl>div>dd>a {
    color: #333333;
    line-height: 20px;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    display: block;
    width: 132px;
    margin: 20px auto 0;
}

#main .content2 .c2>div:nth-child(2) dl>div>dd>a:hover {
    color: #cc9756;
}

#main .content2 .c2>div:nth-child(2) dl>div>dd>p {
    text-align: center;
    color: #d4282d;
    font-size: 13px;
    margin-top: 10px;
}


/* 内容3 */

#main .content3 {
    height: 526px;
    background: #ffffff;
}

#main .content3 .c3 {
    width: 1090px;
    height: 526px;
    padding: 54px 0 52px;
    box-sizing: border-box;
    margin: 0 auto;
}

#main .content3 .c3>div:nth-child(1) {
    height: 48px;
    padding-bottom: 20px;
    box-sizing: border-box;
}

#main .content3 .c3>div:nth-child(1)>div:nth-child(1) {
    float: left;
}

#main .content3 .c3>div:nth-child(1)>div:nth-child(1)>a>h3 {
    font-size: 28px;
    font-weight: bold;
    line-height: 1;
    color: #333333;
}

#main .content3 .c3>div:nth-child(1)>div:nth-child(1) h3:hover {
    color: #cc9756;
}

#main .content3 .c3>div:nth-child(1)>div:nth-child(2) {
    float: right;
}

#main .content3 .c3>div:nth-child(1)>div:nth-child(2)>a {
    display: inline-block;
    line-height: 1;
    padding-top: 14px;
    cursor: pointer;
    box-sizing: border-box;
    color: #333333;
    font-size: 14px;
}

#main .content3 .c3>div:nth-child(1)>div:nth-child(2)>a:hover {
    color: #cc9756;
}

#main .content3 .c3>div:nth-child(2) {
    height: 376px;
}

#main .content3 .c3>div:nth-child(2)>div:nth-child(1) {
    float: left;
    width: 224px;
    height: 424px;
    background: url('https://yanxuan.nosdn.127.net/a0d0bd891ebb55308dbddda736ed53cc.png') no-repeat center;
    text-align: center;
    padding-top: 60px;
    box-sizing: border-box;
}

#main .content3 .c3>div:nth-child(2)>div:nth-child(1)>a>span {
    display: block;
    margin-bottom: 15px;
    height: 30px;
}

#main .content3 .c3>div:nth-child(2)>div:nth-child(1)>a>h4 {
    font-size: 24px;
    line-height: 30px;
    height: 30px;
    color: #615551;
}

#main .content3 .c3>div:nth-child(2)>div:nth-child(1)>a>span:nth-of-type(1) {
    font-size: 24px;
    color: #615551;
    line-height: 24px;
    height: 24px;
    margin-top: -10px;
}

#main .content3 .c3>div:nth-child(2)>div:nth-child(1)>a>span:nth-of-type(2) {
    font-size: 18px;
    line-height: 30px;
    color: #615551;
}

#main .content3 .c3>div:nth-child(2)>div:nth-child(1)>a>span:nth-of-type(3) {
    margin-bottom: 60px;
}

#main .content3 .c3>div:nth-child(2)>div:nth-child(1)>a>span:nth-of-type(3) i,
b,
em {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #615548;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    color: #ffffff;
    margin: 0 5px;
}

#main .content3 .c3>div:nth-child(2)>div:nth-child(1)>a>span:nth-of-type(4) {
    width: 110px;
    height: 30px;
    line-height: 30px;
    background: #a7936e;
    border-radius: 14px;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    margin: 0 auto;
}

#main .content3 .c3>div:nth-child(2)>div:nth-child(2) {
    float: left;
    width: 866px;
    background: #ffffff;
    height: 424px;
    overflow: hidden;
}

#main .content3 .c3>div:nth-child(2)>div:nth-child(2)>div {
    float: left;
    border: 1px solid #f0ece4;
    border-left: 0;
    width: 433px;
    height: 212px;
    box-sizing: border-box;
}

#main .content3 .c3>div:nth-child(2)>div:nth-child(2)>div>div:nth-of-type(1) {
    float: left;
    width: 180px;
    height: 180px;
}

#main .content3 .c3>div:nth-child(2)>div:nth-child(2)>div>div:nth-of-type(1)>img {
    width: 100%;
    height: 100%;
}

#main .content3 .c3>div:nth-child(2)>div:nth-child(2)>div>div:nth-of-type(2) {
    width: 252px;
    height: 187px;
    padding-top: 14px;
    box-sizing: border-box;
    margin-left: 180px;
}

#main .content3 .c3>div:nth-child(2)>div:nth-child(2)>div>div:nth-of-type(2) a {
    line-height: 26px;
    font-size: 16px;
    font-weight: 400;
    color: #333333;
}

#main .content3 .c3>div:nth-child(2)>div:nth-child(2)>div>div:nth-of-type(2) a:hover {
    color: #cc9756;
}

#main .content3 .c3>div:nth-child(2)>div:nth-child(2)>div>div:nth-of-type(2)>p {
    height: 24px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #999;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 20px;
}

#main .content3 .c3>div:nth-child(2)>div:nth-child(2)>div>div:nth-of-type(2)>div {
    position: relative;
    height: 20px;
}

#main .content3 .c3>div:nth-child(2)>div:nth-child(2)>div>div:nth-of-type(2)>div>i {
    width: 100px;
    height: 8px;
    background: #ffffff;
    border: 1px solid #ffe5e5;
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 0;
}

#main .content3 .c3>div:nth-child(2)>div:nth-child(2)>div>div:nth-of-type(2)>div b {
    width: 80px;
    height: 8px;
    background: #ffe5e5;
    border: 1px solid #ffe5e5;
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
}

#main .content3 .c3>div:nth-child(2)>div:nth-child(2)>div>div:nth-of-type(2)>div>span {
    font-size: 14px;
    color: #999;
    line-height: 14px;
    position: absolute;
    top: 0;
    left: 120px;
    margin-top: -2px;
}

#main .content3 .c3>div:nth-child(2)>div:nth-child(2)>div>div:nth-of-type(2)>p:nth-of-type(2) {
    height: 24px;
}

#main .content3 .c3>div:nth-child(2)>div:nth-child(2)>div>div:nth-of-type(2)>p:nth-of-type(2)>u {
    color: #be4141;
    text-decoration: none;
    font-size: 14px;
}

#main .content3 .c3>div:nth-child(2)>div:nth-child(2)>div>div:nth-of-type(2)>p:nth-of-type(2)>strong {
    color: #be4141;
    font-size: 20px;
    font-weight: bold;
}

#main .content3 .c3>div:nth-child(2)>div:nth-child(2)>div>div:nth-of-type(2)>p:nth-of-type(2)>span {
    font-size: 14px;
    color: #999999;
    margin-left: 10px;
    text-decoration: line-through;
}

#main .content3 .c3>div:nth-child(2)>div:nth-child(2)>div>div:nth-of-type(2)>a {
    display: block;
    width: 118px;
    height: 30px;
    background: #be4141;
    color: #ffffff;
    font-size: 16px;
    line-height: 30px;
    margin-top: 18px;
    text-align: center;
}

#main .content3 .c3>div:nth-child(2)>div:nth-child(2)>div>div:nth-of-type(2)>a:hover {
    color: #ffffff;
    background: rgba(190, 65, 65, 0.9);
}


/* 内容4 */

#main .content4 {
    height: 586px;
    padding: 54px 0 52px;
    box-sizing: border-box;
    margin-top: 60px;
    background: #F4F0EA;
    margin-bottom: 60px;
}

#main .content4 .c4>div:nth-child(1) {
    height: 48px;
    padding-bottom: 20px;
    box-sizing: border-box;
}

#main .content4 .c4>div:nth-child(1)>div:nth-child(1) {
    float: left;
}

#main .content4 .c4>div:nth-child(1)>div:nth-child(1)>a>h3 {
    font-size: 28px;
    font-weight: bold;
    line-height: 1;
    color: #333333;
}

#main .content4 .c4>div:nth-child(1)>div:nth-child(1) h3:hover {
    color: #cc9756;
}

#main .content4 .c4>div:nth-child(1)>div:nth-child(2) {
    float: right;
}

#main .content4 .c4>div:nth-child(1)>div:nth-child(2)>a {
    display: inline-block;
    line-height: 1;
    padding-top: 14px;
    cursor: pointer;
    box-sizing: border-box;
    color: #333333;
    font-size: 14px;
}

#main .content4 .c4>div:nth-child(1)>div:nth-child(2)>a:hover {
    color: #cc9756;
}

#main .content4 .c4>div:nth-child(2) {
    height: 376px;
    background: #ffffff;
}

#main .content4 .c4>div:nth-child(2)>div:nth-of-type(1) {
    height: 376px;
    width: 224px;
    float: left;
}

#main .content4 .c4>div:nth-child(2)>div:nth-of-type(1)>img {
    width: 100%;
    height: 100%;
}

#main .content4 .c4>div:nth-child(2)>div:nth-of-type(2) {
    width: 866px;
    height: 376px;
    float: left;
}

#main .content4 .c4>div:nth-child(2)>div:nth-of-type(2)>div:nth-of-type(1) {
    float: left;
    width: 624px;
    height: 376px;
    padding: 0 17px 0 19px;
    box-sizing: border-box;
}

#main .content4 .c4>div:nth-child(2)>div:nth-of-type(2)>div:nth-of-type(1)>div:nth-of-type(1) {
    height: 24px;
    padding: 19px 0 12px;
    border-bottom: 1px solid #f4f0ea;
}

#main .content4 .c4>div:nth-child(2)>div:nth-of-type(2)>div:nth-of-type(1)>div:nth-of-type(1)>h5 {
    color: #333333;
    font-size: 16px;
    float: left;
    text-align: center;
}

#main .content4 .c4>div:nth-child(2)>div:nth-of-type(2)>div:nth-of-type(1)>div:nth-of-type(1)>a {
    float: right;
    font-size: 12px;
    color: #333333;
    text-align: center;
    margin-top: 4px;
}

#main .content4 .c4>div:nth-child(2)>div:nth-of-type(2)>div:nth-of-type(1)>div:nth-of-type(1)>a:hover {
    color: #cc9756;
}

#main .content4 .c4>div:nth-child(2)>div:nth-of-type(2)>div:nth-of-type(1)>div:nth-of-type(2)>div {
    float: left;
    width: 284px;
    height: 130px;
    margin: 15px 0;
}

#main .content4 .c4>div:nth-child(2)>div:nth-of-type(2)>div:nth-of-type(1)>div:nth-of-type(2)>div>div:nth-of-type(1) {
    width: 130px;
    height: 130px;
    float: left;
    background: #fbf9f6;
    margin-right: 10px;
}

#main .content4 .c4>div:nth-child(2)>div:nth-of-type(2)>div:nth-of-type(1)>div:nth-of-type(2)>div img {
    width: 100%;
    height: 100%;
}

#main .content4 .c4>div:nth-child(2)>div:nth-of-type(2)>div:nth-of-type(1)>div:nth-of-type(2)>div>div:nth-of-type(2) {
    float: left;
    width: 130px;
    padding-top: 5px;
    box-sizing: border-box;
}

#main .content4 .c4>div:nth-child(2)>div:nth-of-type(2)>div:nth-of-type(1)>div:nth-of-type(2)>div>div:nth-of-type(2) a {
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}

#main .content4 .c4>div:nth-child(2)>div:nth-of-type(2)>div:nth-of-type(1)>div:nth-of-type(2)>div>div:nth-of-type(2)>p>span {
    color: #BE4141;
    font-size: 14px;
    line-height: 1.1;
}

#main .content4 .c4>div:nth-child(2)>div:nth-of-type(2)>div:nth-of-type(1)>div:nth-of-type(2)>div>div:nth-of-type(2)>p>strong {
    font-size: 20px;
    font-weight: bold;
    color: #BE4141;
    line-height: 1.1;
}

#main .content4 .c4>div:nth-child(2)>div:nth-of-type(2)>div:nth-of-type(1)>div:nth-of-type(2)>div>div:nth-of-type(2)>a {
    display: block;
    width: 90px;
    height: 28px;
    color: #ffffff;
    background: #be4141;
    text-align: center;
    line-height: 28px;
    font-size: 12px;
    margin-top: 26px;
}

#main .content4 .c4>div:nth-child(2)>div:nth-of-type(2)>div:nth-of-type(1)>div:nth-of-type(2)>div>div:nth-of-type(2)>h4>a:hover {
    color: #cc9756;
}

#main .content4 .c4>div:nth-child(2)>div:nth-of-type(2)>div:nth-of-type(1)>div:nth-of-type(2)>div>div:nth-of-type(2)>a:hover {
    background: rgba(190, 65, 65, 0.9);
}

#main .content4 .c4>div:nth-child(2)>div:nth-of-type(2)>div:nth-of-type(2) {
    float: right;
    width: 242px;
    height: 376px;
    border-left: 1px solid #F4F0EA;
    box-sizing: border-box;
}

#main .content4 .c4>div:nth-child(2)>div:nth-of-type(2)>div:nth-of-type(2)>div {
    width: 241px;
    height: 188px;
    padding: 0 20px 0 22px;
    box-sizing: border-box;
}

#main .content4 .c4>div:nth-child(2)>div:nth-of-type(2)>div:nth-of-type(2)>div>p {
    height: 24px;
    padding: 19px 0 12px 0;
}

#main .content4 .c4>div:nth-child(2)>div:nth-of-type(2)>div:nth-of-type(2)>div>p>strong {
    float: left;
    font-size: 16px;
    color: #333333;
}

#main .content4 .c4>div:nth-child(2)>div:nth-of-type(2)>div:nth-of-type(2)>div>p>a {
    float: right;
    color: #333333;
    font-size: 12px;
    margin-top: 4px;
}

#main .content4 .c4>div:nth-child(2)>div:nth-of-type(2)>div:nth-of-type(2)>div>p>a:hover {
    color: #cc9756;
}

#main .content4 .c4>div:nth-child(2)>div:nth-of-type(2)>div:nth-of-type(2)>div>div>div {
    float: left;
}

#main .content4 .c4>div:nth-child(2)>div:nth-of-type(2)>div:nth-of-type(2)>div>div>div:nth-of-type(1) {
    width: 50px;
    height: 50px;
    background: #f4f0ea;
}

#main .content4 .c4>div:nth-child(2)>div:nth-of-type(2)>div:nth-of-type(2)>div>div>div:nth-of-type(1)>img {
    width: 100%;
    height: 100%;
}

#main .content4 .c4>div:nth-child(2)>div:nth-of-type(2)>div:nth-of-type(2)>div>div>div:nth-of-type(2) {
    width: 130px;
    height: 48px;
    padding-left: 15px;
    box-sizing: border-box;
    overflow: hidden;
    margin-bottom: 18px;
}

#main .content4 .c4>div:nth-child(2)>div:nth-of-type(2)>div:nth-of-type(2)>div>div>div:nth-of-type(2)>span {
    display: inline-block;
    width: 120px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    color: #333333;
}

#main .content4 .c4>div:nth-child(2)>div:nth-of-type(2)>div:nth-of-type(2)>div>div>div:nth-of-type(2)>span:hover {
    color: #cc9756;
}

#main .content4 .c4>div:nth-child(2)>div:nth-of-type(2)>div:nth-of-type(2)>div>div>div:nth-of-type(2)>p>strong {
    color: #be4141;
    font-size: 14px;
}

#main .content4 .c4>div:nth-child(2)>div:nth-of-type(2)>div:nth-of-type(2)>div>div>div:nth-of-type(2)>p {
    margin-top: 5px;
}

#main .content4 .c4>div:nth-child(2)>div:nth-of-type(2)>div:nth-of-type(2)>div>div>div:nth-of-type(2)>p>i {
    float: right;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: url('https://yanxuan-static.nosdn.127.net/hxm/yanxuan-component/p/20170601/style/img/x1/icon-yxtop-s2904006215-b2811ec0e9.png') no-repeat center #f4f0ea;
    background-position: 2px -176px;
    text-align: center;
}


/* 内容5 */

#main .content5 {
    background: #ffffff;
}

#main .content5 .c5 {
    height: 789px;
}

#main .content5 .c5>div:nth-child(1) {
    height: 48px;
    padding-bottom: 20px;
    box-sizing: border-box;
}

#main .content5 .c5>div:nth-child(1)>div:nth-child(1) {
    float: left;
}

#main .content5 .c5>div:nth-child(1)>div:nth-child(1)>a>h3 {
    font-size: 28px;
    font-weight: bold;
    line-height: 1;
    color: #333333;
}

#main .content5 .c5>div:nth-child(1)>div:nth-child(1) h3:hover {
    color: #cc9756;
}

#main .content5 .c5>div:nth-child(1)>div:nth-child(2) {
    float: right;
}

#main .content5 .c5>div:nth-child(1)>div:nth-child(2)>a {
    display: inline-block;
    line-height: 1;
    padding-top: 14px;
    cursor: pointer;
    box-sizing: border-box;
    color: #333333;
    font-size: 14px;
}

#main .content5 .c5>div:nth-child(1)>div:nth-child(2)>span {
    margin: 0 10px;
}

#main .content5 .c5>div:nth-child(1)>div:nth-child(2)>a:hover {
    color: #cc9756;
}

#main .content5 .c5>div:nth-child(2) {
    height: 310px;
}

#main .content5 .c5>div:nth-child(3) {
    margin-top: 20px;
}

#main .content5 .c5>div:nth-child(3)>ul>.box {
    width: 265px;
    height: 364px;
    float: left;
    text-align: center;
    margin-right: 10px;
}

#main .content5 .c5>div:nth-child(3)>ul>.box:nth-child(4) {
    margin-right: 0;
}

#main .content5 .c5>div:nth-child(3)>ul>.box>div:nth-child(1) {
    width: 265px;
    height: 265px;
    background: #f4f4f4;
    overflow: hidden;
    position: relative;
}

#main .content5 .c5>div:nth-child(3)>ul>.box>div:nth-child(1)>img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

#main .content5 .c5>div:nth-child(3)>ul>.box>div:nth-child(1)>img:nth-child(2) {
    display: none;
}

#main .content5 .c5>div:nth-child(3)>ul>.box:hover div:nth-child(1)>img:nth-child(2) {
    display: block;
}

#main .content5 .c5>div:nth-child(3)>ul>.box:hover {
    background: #f4f4f4;
}

#main .content5 .c5>div:nth-child(3)>ul>.box>div:nth-child(2) {
    height: 91px;
    width: 265px;
    text-align: center;
}

#main .content5 .c5>div:nth-child(3)>ul>.box>div:nth-child(2)>p {
    width: 166px;
    margin: 0 auto 4px;
    max-height: 40px;
    line-height: 20px;
    overflow: hidden;
    box-sizing: border-box;
    color: #000000;
    font-weight: bold;
    margin-top: 20px;
    font-size: 13px;
}

#main .content5 .c5>div:nth-child(3)>ul>.box>div:nth-child(2)>span {
    color: #d4282d;
    font-size: 13px;
    text-align: center;
}


/* 内容6 */

#main .content6 {
    height: 428px;
    box-sizing: border-box;
    background: #ffffff;
    margin-bottom: 80px;
}

#main .content6 .c6>div:nth-child(1) {
    height: 48px;
    padding-bottom: 20px;
    box-sizing: border-box;
}

#main .content6 .c6>div:nth-child(1)>div:nth-child(1) {
    float: left;
    margin-right: 20px;
}

#main .content6 .c6>div:nth-child(1)>div:nth-child(1)>a>h3 {
    font-size: 28px;
    font-weight: bold;
    line-height: 1;
    color: #333333;
}

#main .content6 .c6>div:nth-child(1)>span {
    display: inline-block;
    line-height: 1;
    padding-top: 14px;
    cursor: pointer;
    box-sizing: border-box;
    color: #333333;
    font-size: 14px;
}

#main .content6 .c6>div:nth-child(2)>div:nth-child(1) {
    float: left;
    width: 690px;
    height: 380px;
}

#main .content6 .c6>div:nth-child(2)>div img {
    width: 100%;
    height: 100%;
}

#main .content6 .c6>div:nth-child(2)>div:nth-child(2) {
    float: left;
    width: 390px;
    height: 380px;
    margin-left: 10px;
}

#main .content6 .c6>div:nth-child(2)>div:nth-child(2)>div {
    width: 390px;
    height: 185px;
    margin-bottom: 10px;
}